@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// Set your brand colors
$blue: #1870b8;
$dark-blue: #124874;

// Update Bulma's global variables
$family-primary: 'Noto Sans', sans-serif;
$title-family: 'Montserrat', sans-serif;
$primary: $blue;
$link: $dark-blue;

// Update some of Bulma's component variables
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";

// or import everything
@import "../node_modules/bulma/bulma.sass"